extends layouts/main
include mixins/videoBlock

block content
    .search__header
        p3 Searching for :#{searchingBy}
    .search__video
        if  videos.length === 0 
            h5 No Videos Found 
        each item in videos
            +videoBlock({
                videoFile:item.videoFile,
                title:item.title,
                views:item.views,
                id:item.id
            })